blue           = #60affd
blue2          = #00aafa
toolbar_top    = #001766
toolbar_bottom = rgba(0,25,100,.6)
/*!
 * Примеси
 */
@import "nib"

full-width()
	float left
	width 100%

middle()
	display inline-block
	vertical-align middle

t(attr=null,time=.3s)
	transition-property attr
	transition-duration time

b(name=null, position=null, color=null, size=null)
	background color url(../images/name) position
	if size
		background-size size

border-dashed(color=rgba(0,0,0,1), top=20px, size=12px)
	background-image: linear-gradient(left, color 70%, transparent 70%)
	background-repeat: repeat-x;
	background-size: size 1px;
	background-position: 0 top;

border-line(color=rgba(0,0,0,1), top=20px, size=12px)
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, color 50%);
	background-repeat: repeat-x;
	background-size: 2px 2px;
	background-position: 0 top;
/*
 * Модификаторы оформления
 */
scr_xs = 480px
scr_sm = 768px
scr_md = 992px
scr_lg = 1200px

a, input
	&:focus
		outline 0
		text-decoration: none

a
	t(color background-color border-radius box-shadow border-radius)
	&:hover
		text-decoration none

.no-position
	position initial

.inline-block
	display inline-block

for vx in uppercase lowecase
	.{vx}
		text-transform vx

for vx in left center right
	.{vx}
		text-align vx !important

value = 0px 5px 10px 15px 20px 25px 30px
value_sm = 5px 10px 15px 20px 25px 30px 35px
sizes = scr_xs scr_sm scr_md scr_lg

for vx in margin padding
	.no-{vx}
		{vx} 0 !important
	for vq, key in xs sm md lg
		@media (min-width: sizes[key])
			.no-{vx}-{vq}
				{vx} 0 !important
	for vy in top left bottom right
		.no-{vx}-{vy}
			{vx}-{vy} 0 !important
		for vq, key in xs sm md lg
			@media (min-width: sizes[key])
				.no-{vx}-{vy}-{vq}
					{vx}-{vy} 0 !important
		for vz, key in xxs xs s m l xl xxl
			/.{vz}-{vx}-{vy}
				{vx}-{vy}: value[key] !important
				@media (min-width: scr_sm)
					{vx}-{vy}: value_sm[key] !important

for vx in center right left
	for vz, key in xs sm md lg
		.{vz}-{vx}
			@media (min-width: sizes[key])
				text-align: vx



for vx in line-height
	for vz, key in xxs xs s m l xl xxl
		/.{vz}-{vx}
			{vx}: value_sm[key] !important


.no-gutter > [class*='col-']
	padding-right 0
	padding-left 0

for vz, key in xs sm md lg
	@media (min-width: sizes[key])
		.no-gutter-{vz} > [class*='col-']
			padding-right 0
			padding-left 0

@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Bold.ttf")
	src local('☺'), url('../fonts/ProximaNova-Bold.ttf') format('truetype')
	font-weight bold

@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Regular.ttf")
	src local('☺'), url('../fonts/ProximaNova-Regular.ttf') format('truetype')
	font-weight normal

@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-Light.ttf")
	src local('☺'), url('../fonts/ProximaNova-Light.ttf') format('truetype')
	font-weight 300
.footer
	full-width()
	position relative
	z-index 20
	color #a3a3a3
	overflow hidden
	background black
	border-top 1px solid #212121
	min-height 65px
	padding 22px 0 13px
	font-weight bold
	text-transform uppercase
	font-size 10px
	.copyright
		position relative
		top 4px
		@media (min-width: scr_sm)
			top 0
	.contacts
		span
			white-space no-wrap
	a
		color #a3a3a3
		text-decoration: underline
		&:hover
			color blue
	.map
		full-width()
		@media (min-width: scr_md)
			text-align center
	.social
		padding-left 0
		text-align right
		@media (min-width: scr_sm)
			padding-left 20px
			text-align left
		&__item
			middle()
			opacity .5
			text-align: center
			t(opacity)
			width 14px
			height 14px
			margin 0 4px
			position relative
			@media (min-width: scr_sm)
				width 23px
				height 23px
				top 0
				margin 0 2px
				line-height 23px

			&:hover
				opacity 1
			svg
				middle()
				max-height 100%
				max-width 100%
	.radia
		float right
		t(opacity)
		opacity .5
		display none
		.index &
			@media (min-width: scr_sm)
				display block
		&:hover
			opacity 1
		svg
			max-height 27px
			max-width 27px
			margin-right: 10px
			float left
		&__content
			font-weight normal
			float left
			color #fff
			text-decoration: none
	.contacts, .map, .address
		display none
		@media (min-width: scr_sm)
			display block
/*
 * Модификаторы плагинов
 */
 .fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play
	background-image url(../images/plugins/fotorama.png)
	@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi)
		background-image url(../images/plugins/fotorama@2x.png)
.toolbar
	full-width()
	top           0
	left          0
	height        61px
	z-index       20
	position      fixed
	background    toolbar_bottom
	line-height   62px
	white-space   nowrap
	margin-bottom 20px
	.container
		position relative
		z-index 2
	.shield
		position  absolute
		width     100%
		left      0px
		top       32px
		display   none
		&__left	
			svg
				left -40px
				@media (min-width: scr_lg)
					left -55px
		&__right
			svg
				right -14px
				@media (min-width: scr_lg)
					right 0
		svg
			position absolute
			top 0
			path
				fill toolbar_top
		&:after
			position    absolute
			height      68px
			background  toolbar_top
			content     ""
			width       155px
			left        30px
			@media (min-width: scr_lg)
				width  201px
				left   15px
		&--big-left
			&:after
				width 400%
				left auto
				right 58px
				@media (min-width: scr_lg)
					right 72px
		@media (min-width: scr_md)
			display block
	.logo
		full-width()
		position     relative
		z-index      30
		line-height  104px
		svg
			middle()
			max-width 43%
			@media (min-width: scr_sm)
				max-width 70%
			@media (min-width: scr_lg)
				max-width 188px
		@media (min-width: scr_sm)
			margin-left 20px
	.nav
		full-width()
		position   relative
		text-align justify
		z-index    40
		&__item
			font-weight bold
			text-transform uppercase
			color white
			line-height 53px
			height 53px
			@media (min-width: scr_sm)
				font-size 15px
				padding 3px 8.8px 0
			@media (min-width: scr_lg)
				font-size 16px
				padding 3px 16.4px 0
			margin-bottom 5px
			white-space nowrap
			&--active
				color blue
			&:first-of-type
				padding-left 0
			&:hover
				color blue
				text-decoration: none
	.search-form
		position     absolute
		z-index      30
		top          0px
		display      none
		right        9px
		line-height  35px
		height       32px
		background   toolbar_top
		&__button
			background   transparent
			border       0
			line-height  auto
			position     relative
			top          3px
			opacity      0
			svg
				path
					fill blue
		&__text
			background     transparent
			border         1px solid blue
			height         20px
			border-radius  20px
			line-height    24px
			min-width      260px
			padding        0 15px
			font-size      12px
	.lang-trigger
		position relative
		z-index 20
	/* Выбор сайтов холдинга */
	.site-select
		middle()
		width           100%
		font-weight     bold
		font-size       10px
		text-transform  uppercase
		position        relative
		z-index         300
		&--open
			.site-select__trigger
				svg
					path
						fill white
		&__trigger
			color     white
			position  relative
			top       1px
			z-index   3
			svg
				margin-left 5px
				path
					fill blue
			span
				display none
				@media (min-width: scr_md)
					display none
				@media (min-width: scr_lg)
					display inline
		&__dropdown
			display        none
			position       absolute
			top            3px
			left          -13px
			background     blue
			width          200px
			padding        30px 13px 5px
			border-radius  5px
		&__link
			float        left
			clear        both
			color        white
			line-height  20px
			text-decoration: underline
			t(color)
			&:hover
				color toolbar_top
				text-decoration none
	.search-trigger
		display none
		@media (min-width: scr_sm)
			display inline
		svg
			middle()
			top -2px
			position relative
			path
				fill blue
	/* Тригер мобильного меню */
	.nav-trigger
		float        right
		position     relative
		z-index      220
		margin-left  40px
		span
			color           white
			font-size       10px
			text-transform  uppercase
			font-weight     bold
		svg
			middle()
			max-width    23px
			margin-left  7px
		@media (min-width: scr_md)
			display none
	/* Тригеры попапов */
	.popup-trigger
		middle()
		display inline
		margin 0 7px
		&:first-of-type
			margin-left 40px
			@media (min-width: scr_xs)
				margin-left 10px
		svg
			middle()
			position relative
			top -2px
			path
				fill blue
		@media (min-width: scr_sm)
			display none
	.phone
		middle()
		color white
		font-size 15px
		font-weight bold
		top 1px
		position relative
		svg
			middle()
			position relative
			top -2px
			margin-right 10px
			path
				fill blue
	.feedback, .filials
		middle()
		text-transform uppercase
		font-size 10px
		color white
		font-weight bold
		&:hover
			color blue
	.filials
		svg
			middle()
			position relative
			top -1px
			margin-right 9px
			path
				fill blue
			margin-left -9px
	.feedback
		margin 0 25px
	.search, .phone, .lang-trigger, .feedback, .filials
		display none
		@media (min-width: scr_sm)
			display inline-block
	&:after, &:before
		position    absolute
		height      33px
		width       100%
		content     ""
		background  toolbar_top
		top         0
		left        0
		z-index     1
		display     none
		@media (min-width: scr_md)
			display block
	&:before
		background toolbar_bottom
		height 91px
	@media (min-width: scr_sm)
		margin-bottom  15px
	@media (min-width: scr_md)
		position       relative
		background     transparent
		margin-bottom  35px
		height         100px
		line-height    38px

.search
	position relative
	middle()
	width 100%
	&__input
		width          100%
		border         1px solid blue
		border-radius  20px
		height         20px
		background     transparent
		color          white
		line-height    normal
		padding-left   5px
		font-size      11px
		middle()
		padding-right 22px
	&__submit
		position absolute
		width 13px !important
		height 13px
		appearance none
		background transparent
		border 0
		right 6px
		top 23px
		svg
			position absolute
			top 0
			right 0
			height 13px
			width 13px

.lang-trigger
	middle()
	color        #a4a4a4
	font-size    11px
	font-weight  bold
	user-select  none
	&__label
		t(color)
	&__carriage
		middle()
		top           -2px
		width          36px
		height         17px
		cursor         pointer
		margin         0 4px
		position       relative
		background     blue
		border-radius  10px
		&:after
			t(left)
			content        ""
			width          9px
			border-radius  12px
			left           4px
			top            4px
			height         9px
			box-shadow     0 1px 3px rgba(0,0,0,.3)
			background     white
			position       absolute
	&--lang
		&_russian
			.lang-trigger__label:first-of-type
				color white
			.lang-trigger__carriage:after
				left 4px
		&_english
			.lang-trigger__label:last-of-type
				color white
			.lang-trigger__carriage:after
				left 23px
				
.wrap
	padding-top 82px
	@media (min-width: scr_sm)
		padding-top 0
body
	font-family 'Proxima', 'Helvetica Neue', 'Arial', sans-serif
	min-height 100%
	height 100%
	color black

.container
	max-width 1150px

.wrap 
	full-width()
	min-height: 100%
	padding-bottom 65px
	margin-bottom: -65px
	&:after
		content ""
		display block
	b('bg-index.jpg', top center no-repeat, black, cover)
	for x in about contacts catalog-list
		.{x} &
			b('bg-'+x+'.jpg', top center no-repeat, black, cover)
	.catalog-category &
		b('bg-catalog-category.jpg', top center no-repeat, black)
	.index &
		background white
html
	height 100%

article
	position relative
	z-index 10

.toolbar
	.logo
		@media (min-width: scr_md)
			margin-left 0px
		svg
			max-width 53%
			@media (min-width: scr_sm)
				max-width 80%
			@media (min-width: scr_lg)
				max-width 220px
		

.modal
	padding 0
.modal-dialog
	width 100%
	margin 0
	min-height 100%
	@media (min-width: scr_md)
		min-height none
		margin: 30px auto;
		width 770px
		iframe
			height (648*.562)px
	@media (min-width: scr_lg)
		width 980px
		iframe
			height (900*.562)px

	#Feedback &
		max-width 600px

.modal-content
	full-width()
	border-radius 0
	background black
	.date
		font-weight bold
		color blue
	.divider
		full-width()
		border-bottom 1px solid black
		margin 15px 0 20px
	.text
		min-height 200px
	iframe
		max-width 90%
		margin 15px 5%
		max-height 50%
		@media (min-width: scr_md)
			margin 0
			max-height none
			max-width 100%
	min-height 100%
	@media (min-width: scr_md)
		min-height none
		padding 50px 60px
		border 1px solid blue
	&--white
		background white
		border 0
		padding 30px 20px
		@media (min-width: scr_md)
			padding 30px 40px
		color black !important
		p
			font-size 14px
			line-height 17px
			margin-bottom 18px
			@media (min-width: scr_md)
				font-size 16px
				line-height 20px
		h1
			margin-top 10px
			font-weight bold
			font-size 25px
			margin-bottom: 25px
			@media (min-width: scr_md)
				font-size 30px
	.close
		opacity 1
		position absolute
		z-index 30000000
		right 10px
		top -5px
		svg
			max-width 30px
			path
				fill blue
		@media (min-width: scr_md)
			right -100px
			svg
				max-width none
	img
		max-width 100%
.modal-backdrop.in
	opacity .99
	@media (min-width: scr_md)
		opacity .8

.no-mobile
	display none
	@media (min-width: scr_sm)
		display block

.toolbar
	.nav
		&__item
			@media (min-width: scr_sm)
				font-size 16px
				padding 3px 17.5px 0
			@media (min-width: scr_lg)
				font-size 17px
				padding 3px 30px 0
#Feedback .form
	display block
	margin-bottom 0
	padding-bottom 0

.modal
	.lang-trigger
		margin 17px 20px 15px
	.phone
		full-width()
		text-align: center
		font-size 37px
		color white
		padding 20px 0
		font-weight bold
	.form-trigger
		font-size 25px
		font-weight bold
		color white
		height 25px
		display inline-block
		border-bottom 1px dotted white
		text-align center
		text-transform: uppercase
	.success
		display none
	.form
		full-width()
		padding-bottom 40px
		padding 0 20px
		display none
		label
			full-width()
			margin-top 20px
			text-align center
			font-size 10px
			text-transform: uppercase
		.captcha_refresh
			float: left
			margin-top 39px
			svg
				width 29px
				height 30px
		input[type="text"], input[type="email"], textarea
			border 0
			appearance none
			full-width()
			border-radius 0
			color black
			text-align center
			padding-top 12px
			line-height 27px
			height 30px
			@media (min-width: scr_sm)
				padding-top 8px
			&.parsley-error
				box-shadow 0 0 0 2px red
		.parsley-errors-list
			display none !important
		textarea
			height 180px
			text-align left
		.captcha
			full-width()
			background-color #737a82
			height 30px
		input[type="submit"]
			appearance none
			middle()
			background transparent
			margin-top 20px
			margin-bottom 20px
			border-radius 30px
			height 30px
			font-size 14px
			border 2px solid blue
			padding 5px 25px 0
			font-weight bold
			text-transform: uppercase
			t(background, color)
			&:hover
				background blue
				color black
	&-title
		full-width()
		color white
		padding 0 20px
		line-height 55px
		height 55px
		font-size 11px
		text-transform uppercase		
		font-weight bold
	.search
		padding 20px
		&__input
			height 40px
			font-size 15px
			padding 0 25px 0 15px
			border-radius 50px
			border-weight 2px
		&__submit
			right 30px
			top 30px
			svg
				width 20px
				height 20px
.nav-popup
	border-top 1px solid #404040
	full-width()
	&__item
		border-bottom 1px solid #404040
		full-width()
		color white
		padding 0 20px
		line-height 62px
		height 55px
		font-weight: bold
		text-transform: uppercase
		font-size: 26px
		#Sites &
			font-size 16px
		&:hover, &--active
			background blue2
			color white
@font-face
	font-family 'Proxima'
	src url("../fonts/ProximaNova-XBold.ttf")
	src local('☺'), url('../fonts/ProximaNova-XBold.ttf') format('truetype')
	font-weight 800

.index
	.slider
		full-width()
		min-height 630px
		margin-top -130px
		&__item
			full-width()
			position relative
			height 100%
			min-height 630px
			background-position top center
			background-size cover
			padding-top 160px
			color white
		&__title, &__content
			width 50%
			float: right
			clear both
			max-width 495px
		&__title
			text-transform: uppercase
			font-size 55px
			margin-bottom 10px
			font-weight 800
			margin-top 0
		&__content
			font-size 16px
			line-height 20px
			margin-bottom 5px
		&__link
			margin-top 12px
			display inline-block
			color white
			border 1px solid white
			height 30px
			line-height 32px
			letter-spacing: 3px
			padding 0 25px
			text-transform: uppercase
			font-size 11px
			font-weight bold
			&:hover
				background white
				color toolbar_top
	.sections
		full-width()
		background #001467
		&__item
			height 120px
			border-right 1px solid #062d77
			float left
			text-align: center
			width (100/7)%
			t(background-color)
			&:hover
				background #003285
			&:first-of-type
				border-left 1px solid #062d77
		&__image
			margin-top 17px
		&__text
			color white
			font-size 10px
			text-transform: uppercase
			line-height 12px
			font-weight bold
			max-width 85%
			display inline-block
			margin-top 5px
			@media (min-width: scr_lg)
				font-size 11px
	.partners
		full-width()
		height 85px
		line-height 85px
		text-align: center
		overflow hidden
		&__item
			img
				vertical-align: center
				display inline-block
				margin 0 38px
				max-height 34px
				max-width 75px
	.news
		full-width()
		position relative
		.container
			position relative
		&__frame
			position absolute
			width 50%
			right 15px
			bottom 15px
			max-width 480px
			color white
			padding 14px 18px 10px
			font-size 13px
			background rgba(0, 25, 102, .75)
		&__date
			font-size 11px
			color blue
			font-weight bold
			margin-bottom 8px
		&__title
			line-height 16px
			text-decoration: underline
			display inline-block
			color white
			&:hover
				color blue
		&__more
			text-transform: uppercase
			display inline-block
			margin-top 17px
			color blue
			font-size 11px
			text-decoration: underline
			font-weight: bold

.page
	&__divider
		height 1px 
		background #c6cdd2
		width 100%
		margin 10px 0
		& + .products
			margin-top -10px
	&__frame
		background #ffffff
		padding 35px 45px
		margin-top 20px
		margin-right -15px
		margin-left -15px
		color #233347
		.catalog-category &
			padding 0
		p
			font-size 16px
	&__title
		margin 0
		text-transform: uppercase
		padding 0
		font-size 35px
		line-height 35px
		color #233347
		font-weight bold
	&__sub-title
		font-size 22px
		margin-bottom 0
		padding-bottom 0

.about
	.partners
		text-align: center
		&__item
			display inline-block
			min-height 160px
			max-width 130px
			font-weight bold
			text-transform: uppercase
			font-size 10px
			line-height 12px
			color #233347
		&__image
			height 75px
			line-height 80px
			img
				vertical-align: middle
				max-width 100%
		&__text
			max-width 95%
			display inline-block

.catalog-category
	.page
		margin-bottom 30px
	.sections
		width 100%
		&__item
			width 100%
			margin-bottom 1px
			t(min-height, .4s)
			min-height 130px
			&--open
				transition-delay 0.2s
				transition-duraion .2s
				.sections__content
					display block
				.sections__icon
					opacity 1
				.sections__title:after
					background rgba(0, 0, 0, 0) !important
		&__title
			width 100%
			height 130px
			display inline-block
			line-height 130px
			background-size cover
			background-repeat no-repeat
			position relative
			&:after
				position absolute
				content ""
				background rgba(0, 0, 0, .65)
				t(background-color)
				width 100%
				height 100%
				top 0
				left 0
			&:hover
				&:after
					background rgba(0, 0, 0, .45)
				.sections__icon
					opacity .7
		&__icon
			float left
			width 120px
			text-align: center
			opacity .25
			t(opacity)
			position relative
			z-index 2
			svg
				display inline-block
				vertical-align: middle
				path
					fill white
		&__name
			font-size 35px
			line-height 137px
			color white
			position relative
			z-index 2
		&__content
			display none
			width 100%
			padding 50px 120px 30px
	.sub-sections
		padding-left 35px
		padding-bottom 0
		&__item
			list-style none
			margin-bottom 25px
			t(min-height, .4s)
			&--open
				transition-delay 0.2s
				transition-duraion .2s
				.sub-sections__content
					display block
				.sub-sections__title
					color #007bf8
					border-dashed(#007bf8)
					svg
						transform rotate(90deg)
						path
							fill #007bf8
		&__content
			display none
			width 100%
			padding-top 15px
		&__title
			position relative
			border-dashed(#8598b8)
			font-size 20px
			color #233347
			&:hover
				color #007bf8
				border-dashed(#007bf8)
				svg
					path
						fill #007bf8
			svg
				position absolute
				left -36px
				top -2px
				t(transform)
				path
					fill #c6cdd2
					t(fill)
			&--link
				border-line(#8598b8)
				&:hover
					border-line(#007bf8)
	.sub-sub-sections
		padding-left 25px
		&__item
			list-style none
			margin-bottom 10px
			t(min-height, .4s)
			&--open
				transition-delay 0.2s
				transition-duraion .2s
				.sub-sub-sections__content
					display block
		&__title
			position relative
			font-size 15px
			border-dashed(#8598b8, 15px)
			color #263a5c
			&:hover
				color #007bf8
				border-dashed(#007bf8, 15px)
			&:after
				position absolute
				content ""
				width 15px
				height 2px
				background #007bf8
				top 6px
				left -25px
			&--link
				border-line(#8598b8, 15px)
				&:hover
					border-line(#007bf8, 15px)
		&__content
			display none
			width 100%
			padding 15px 0 5px
	.sub-sub-sub-sections
		padding-left 15px
		&__item
			margin-bottom 5px
			list-style none
		&__title
			font-size 13px
			position relative
			color #263a5c
			border-line(#dadee8, 12px)
			&:hover
				color #007bf8
				border-line(#007bf8, 12px)
			&:after
				position absolute
				content ""
				width 4px
				height 4px
				background #007bf8
				top 4px
				left -15px

.products
	&__item
		width 100%
		padding 30px 0
		border-bottom 1px solid #e3e6e9
		&:last-of-type
			border-color #c6cdd2
	&__name
		display inline-block
		font-size 18px
		font-weight bold
		color #000000
		border-line(#d4d4d4, 19px)
		margin-bottom 20px
		&:hover
			color blue2
			border-line(blue2, 19px)
	&__text
		font-size 13px
		line-height 16px
		width 100%
	&__image
		display block
		width 100%
		height 100px
		background-size contain
		background-repeat no-repeat
		background-position center center

.pages
	width 100%
	margin-top 20px
	&__item
		display inline-block
		width 27px
		height 27px
		text-align: center
		margin-right 10px
		border 1px solid #0082dc
		line-height 30px
		color #0082dc
		font-size 13px
		&:hover
			color #0082dc
		&--active
			color white !important
			background #0082dc
			




.sidebar
	full-width()
	z-index 10
	position relative
	
	@media (min-width: scr_md)
		.index &
			padding-bottom 80px
	.logo
		full-width()
		margin-bottom 20px
		@media (min-width: scr_md)
			display none
		svg
			max-width 188px
	.bages
		display none
		margin-bottom 95px
		margin-top 90px
		&__item
			max-width 200px
			margin-bottom 13px
			line-height 54px
		&__title
			top 4px
			position relative
		&__image
			max-width 54px
		@media (min-width: scr_md)
			display block
.sidebar, .index-news
	.news
		full-width()
		text-align: center
		background #1b1b1b
		padding 12px 0 5px
		@media (min-width: scr_md)
			padding 0
			width 100%
			margin-left 0
			background transparent
			max-width 75%
			text-align: left
		&__item
			full-width()
			position relative !important
			text-align center
			padding-bottom 0
			@media (min-width: scr_md)
				text-align left
		&__date
			color blue2
			font-size 10px
			font-weight bold
			margin-bottom 2px
			margin-top 6px
		&__title
			color white
			float none
			font-size 13px
			line-height 16px
			margin-bottom 0
			text-decoration underline
			max-width 70%
			display inline-block
			@media (min-width: scr_sm)
				font-size 15px
			@media (min-width: scr_md)
				font-size 13px
				float left
				margin-bottom 25px
				max-width none
			&:hover
				color blue2
		&__more
			font-size 10px
			text-transform uppercase
			color blue2
			font-weight bold
			&:hover
				text-decoration underline

.sidebar
	.news
		display none
		@media (min-width: scr_md)
			display block
.index-news
	full-width()
	.news
		height auto !important
		display block
		margin-top 30px
		@media (min-width: scr_md)
			display none
		&__more
			full-width()
			margin 15px 0 10px